<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Reddit Onions Game</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Description" lang="en" content="Inspired by an AskReddit thread. Is a headline from r/theonion or r/nottheonion?">
		<meta name="author" content="Pat Lafferty">
		<meta name="robots" content="index, follow">

		<!-- icons -->
		<link rel="apple-touch-icon" href="/img/onion.png">
		<link rel="shortcut icon" href="/img/onion.ico">

		<!-- Bootstrap Core CSS file -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">

		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="/css/styles.css">

		<!-- Conditional comment containing JS files for IE6 - 8 -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<!-- Navigation -->
	    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container-fluid">
				<img src="/img/onion.png" class="navbar-brand" max-height="50px">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!-- /.navbar -->

		<!-- Page Content -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">

					<!-- Page Heading -->
					<h1 class="text-center"><strong><%= result %></strong></h1>
					<p>&nbsp;</p>

					<p class="lead" style="text-align:center""><%= headline %></p>
					<hr>

					<table cellspacing="90px" align="center">
						<tbody>
							<tr>
								<td> <a class="btn btn-default" href= "<%= articleLink %>" target=”_blank” role="button">View Article</a> </td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td> <a class="btn btn-default" href= "<%= redditLink %>" target=”_blank” role="button">View Reddit Comments</a> </td>
							</tr>
						</tbody>
					</table>

					<hr>
					
					<form method="post" action="/refresh">
						<p class="text-center">
							<button type="submit" class="btn btn-primary btn-lg" name="AnothaOne" value="AnothaOne">Anotha One</button>
						</p>
					</form>

					<hr>

					<p class="text-center">Score: <%= userScore %></p>

				</div>
			</div>
		</div>
		<!-- JQuery scripts -->
	    <script src="/js/jquery-1.11.2.min.js"></script>

		<!-- Bootstrap Core scripts -->
		<script src="/js/bootstrap.min.js"></script>
  </body>
</html>
